
      <body>

      <input type="text" [(ngModel)]="searchText"
      class="form-control" placeholder="Search By Category" >
      <br>
      <div class="container-fluid">
        <div class="row" *ngFor="let posts of post | search: searchText | groupDemo:'userId'">
          <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align:center;">
            <h3><u>UserId:-</u> {{ posts.key }}</h3>
          </div>

          <div class="format">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4><u> Id:-</u></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12" *ngFor="let child of posts.value"> {{ child.id }}</div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4><u >Title</u></h4>
              </div>
            </div>
            <div class="row rap">
              <div class="col-xs-12" *ngFor="let child of posts.value">{{ child.title }}</div>

            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4><u>Body</u></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" *ngFor="let child of posts.value">{{ child.body | filter }}</div>
            </div>
          </div>
          <br>
        </div>
      </div>
      </body>
